nav .container:after {
    clear: both;
    display: block;
    content: '';
}
.newsletter_outer .container {
    max-width: 750px;
}
footer {
    padding: 28px 0 0 0;
    overflow: hidden;
	margin: 0;
}
.ftr_social ul li {
	overflow: hidden;
}
.catry_menu { z-index: 999; }
.header_search .search-input {
	color: #817b7b;
    border: none;
    border-radius: 10px;
    position: relative;
    font-size: 14px;
    height: 26px;
    padding: 0 12px 0 20px;
    width: 100%;
}
ul>li, ol>li {
	margin-bottom: 0;
}
.page-footer {
	padding-bottom: 0;
}
.page-wrapper > .page-bottom {
	margin: 0;
	padding: 0;
	max-width: none;
}
.page-main { max-width: none; padding: 0;}
.columns .column.main { padding-bottom: 0; }
.column.main {
	min-height: auto;
}
.product_action_wrap { margin-bottom: 40px; }