@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');@import url(/templates/fione/css/v-mods.css);body{font-size:18px;line-height:30px;color:#000}fieldset{min-width:inherit !important}h1,h2,h3,h4,h5{margin-bottom:15px;color:#111}.fixed_content:after{clear:both;display:block;content:''}.style_nav_dropdown>ul>li.multimenu>a::before{display:none}.main_content{font-weight:300;font-size:18px}.main_content
strong{font-weight:600}.main_content h1,
.main_content h2,
.main_content h3,
.main_content h4,
.main_content h5,
.main_content
h6{text-transform:uppercase}.fr-fir{margin-left:15px;margin-bottom:15px}.fr-fil{margin-right:15px;margin-bottom:15px}h1,h2,h3,h4,h5,h6{margin-top:30px}.g-recaptcha{display:inline-block}@media (max-width: 1000px){.main_content
aside{width:100%;float:none}.main_content
article{width:100%;float:none;padding-left:0}}.main_content .page_media
ul{margin:0px;padding:0}.portfolio_itemwrap:hover article, .portfolio_itemwrap:hover
figcaption{background:#000!important}.portfolio_item_main_img:hover
img{transform:translate3d(0,0,0) scale(1.2)!important}.main_content .page_media ul
li{list-style:none;width:32%;float:left;margin:0px
1% 10px 0}.main_content .page_media ul li:last-child{margin-bottom:0}.main_content .page_media ul li
a{padding:10px
10px 10px 35px;display:block;font-size:16px;color:#000;position:relative;background:#e4e4e4;transition:0.3s linear all;-webkit-transition:0.3s linear all}.main_content .page_media ul li a:before{content:"\f0da";position:absolute;left:15px;top:11px;font-family:FontAwesome;font-size:18px}.main_content .page_media ul li a:hover{color:#000;background:#D8D8D8}@media (max-width: 1000px){.main_content .page_media ul
li{width:48%;margin:0px
1% 10px 0}}@media (max-width: 780px){.main_content .page_media ul
li{width:100%;margin:0px
0 10px 0;float:none}.fr-fic{margin-left:auto !important;margin-right:auto !important;float:none !important;display:block !important;padding-bottom:15px}.g-recaptcha>div:first-child{margin:0
auto}.tooltip.top.center{left:0 !important;right:0 !important;height:auto !important;white-space:inherit !important;width:100% !important;text-align:center;box-sizing:border-box;-webkit-box-sizing:border-box}}.main_content .page_modules
ul{margin:0px;padding:0}.main_content .page_modules ul
li{list-style:none;width:32%;float:left;margin:0px
1% 10px 0}.main_content .page_modules ul li:last-child{margin-bottom:0}.main_content .page_modules ul li
a{padding:10px
10px 10px 35px;display:block;font-size:16px;color:#000;position:relative;background:#e4e4e4;transition:0.3s linear all;-webkit-transition:0.3s linear all}.main_content .page_modules ul li a:before{content:"\f0da";position:absolute;left:15px;top:11px;font-family:FontAwesome;font-size:18px}.main_content .page_modules ul li a:hover{color:#000;background:#D8D8D8}@media (max-width: 1000px){.main_content .page_modules ul
li{width:48%;margin:0px
1% 10px 0}}@media (max-width: 780px){.main_content .page_modules ul
li{width:100%;margin:0px
0 10px 0;float:none}}.layout input[type="submit"], .layout input[type="button"], .layout .button, .layout
button{margin-bottom:10px}.layout .fc .fc_title, .layout .paging .cur a, .layout input[type="submit"]:first-child, .layout .button.b, .layout button[type="submit"]{}.layout form legend:before{border-color:#000;width:60px}.field_content,
.newsletter
.field{position:relative}.formError
.formErrorContent{width:165px  !important;font-size:12px !important}.formError{left:inherit !important;right:0 !important}.search_form.form input[type="submit"]{right:10px}.left_segment_inr{padding:0}.left_segment:after{clear:both;display:block;content:''}.right_segment_sidebar_inr{padding:0
20px}.left_segment,.right_segment_sidebar{float:left;padding-left:1%;padding-right:1%}.right_segment_sidebar{padding-bottom:25px;width:30%}.left_segment{background-color:#FFF;width:70%;float:right}.widget_panel
h3{font-size:19px;text-transform:inherit;margin:30px
0 20px;color:#040404;font-weight:800;position:relative;letter-spacing:1px;padding:0
0 10px;line-height:26px}.widget_panel h3::after{content:'';display:block;width:60px;background:#b40000000;position:absolute;left:0;bottom:-2px;height:2px;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;transition:all 0.5s ease}.widget_panel:hover h3::after{width:90px}.widget_panel
ul{margin:0;padding:0}.widget_panel
li{list-style:none;position:relative}.widget_panel
a{color:#000}.widget_panel a:hover{color:#b40000000}.widget_panel
h4{font-size:16px;color:#000;margin:0px
0px 5px 0px}.cat_num{position:absolute;right:5px;top:12px}.widget-press-cats h3, .widget-news-cats h3, .widget-blog-cats
h3{margin-top:0}.press_outer:after{clear:both;display:block;content:''}.widget-blog-cats
ul{margin:0;padding:0}.widget-blog-cats
li{list-style:none;position:relative}.widget-blog-cats li a,  .widget-press-cats li a, .widget-news-cats li
a{display:block;border-bottom:1px solid #e4e4e4;color:#000;display:block;padding:12px
0 12px 20px;font-size:15px;transition:0.3s linear all;-webkit-transition:0.3s linear all;position:relative}.widget-blog-cats li a:before, .widget-press-cats li a:before, .widget-news-cats li a:before{content:"\f105";position:absolute;left:1px;top:8px;font-family:FontAwesome;color:inherit;font-size:18px}.widget-blog-cats li a:hover, .widget-press-cats li a:hover, .widget-news-cats li a:hover{color:#b40000000;border-bottom-color:inherit}body .main_content .news_recent, body .main_content .blog_recent_post, body .main_content
.press_recent{margin-bottom:15px}body .blog_popular_tags
li{display:inline-block;margin-right:8px}.widget-blog-recent figure img, .widget-news-recent figure img, .widget-press-recent figure
img{}.widget-blog-recent figure, .widget-news-recent figure, .widget-press-recent
figure{display:table-cell;width:100px}.news_rightthumb,.press_rightthumb{display:table-cell;padding-left:15px;vertical-align:top}.news_recent .news_rightthumb .date, .press_recents .press_rightthumb
.date{margin:0}@-webkit-keyframes zoom-out{from{-webkit-transform:scale(1,1)}to{-webkit-transform:scale(1.2,1.2)}}@keyframes zoom-out{from{transform:scale(1,1)}to{transform:scale(1.2,1.2)}}.zoom-out .featured_img
img{-webkit-animation:zoom-out 10s;animation:zoom-out 10s}@-webkit-keyframes zoom-in{from{-webkit-transform:scale(1.2,1.2)}to{-webkit-transform:scale(1,1)}}.zoom-in .featured_img
img{-webkit-animation:zoom-in 8s;animation:zoom-in 8s}.layout .box-frm{max-width:620px;margin:auto;padding:0
0 10px 0;background:#f9f9f9;border:1px
solid #e6e6e6}.layout .box-frm
legend{border:none;color:#fff;font-size:22px;margin:0
!important;background:#161616;padding:8px
15px 10px 15px}.layout .box-frm legend:before{display:none}.layout .box-frm .box-space{padding:15px
15px}.layout .box-frm
.field{margin:0
0 15px;line-height:normal;position:relative}@media (max-width: 1000px){.left_segment,.right_segment_sidebar{width:50%}.right_segment_sidebar_inr{padding-left:0}}@media (max-width: 780px){.left_segment{margin-bottom:30px}.left_segment,.right_segment_sidebar{width:100%;float:none}.right_segment_sidebar_inr{padding-left:0;padding-right:0}}@media (max-width: 360px){.layout input[type="submit"], .layout input[type="button"], .layout .button, .layout
button{font-size:14px}.request_quote_module #recaptcha_area,
.contact_module
#recaptcha_area{transform:scale(0.70);-webkit-transform:scale(0.70);transform-origin:0 0;-webkit-transform-origin:0 0}.search_form.form input[type="submit"]{top:11px}}.staff_member_social{float:none;width:100%;text-align:inherit;margin-top:10px}.staff_member_avatar
img{padding:0}.staff_member_head{margin-left:0}.menu_manager
h4{font-size:14px;text-transform:capitalize;white-space:normal}@media(max-width:480px){.menu_manager_item_img{float:none}}.portfolio_select_category.fr{float:none;text-align:right;margin-bottom:10px}@media(max-width:480px){.qr_codes{text-align:center}.qr_code{float:none;margin:0
0 15px 0}.qr_code
h4{width:auto !important;white-space:normal}}@media(max-width:480px){.main_content
.outertable{overflow-y:auto}}@media (max-width: 420px){.g-recaptcha{transform:scale(0.77);-webkit-transform:scale(0.77) !important;transform-origin:0 0;-webkit-transform-origin:0 0 !important}}ul.tabs{padding-left:0px}ul.tabs
li{background:none;color:#222;display:inline-block;padding:10px
15px;cursor:pointer}ul.tabs
li.current{background:#ededed;color:#222}.lextab .tab-content{display:none;background:#fff;padding:15px
15px 0px 15px;border:1px
solid #ddd}.lextab .tab-content.current{display:inherit}.lextab
section{width:100%;display:inline-block;vertical-align:top}.tab-content
ul{padding:0}.tab-content ul
li{width:33%;padding:0
10px;display:inline-block;vertical-align:top}.tab-content ul li:last-child{margin-bottom:15px}.lextab
img{margin:0
auto}.lextab
figure{position:absolute;top:50%;left:0;right:0;transform:translateY(-50%)}.lextab section
div{width:160px;height:160px;border-radius:50%;border:10px
solid #ccc;text-align:center;display:inline-block;vertical-align:middle;float:none;margin:0
auto;position:relative}.por_detail_left .bx-has-controls-direction
a{position:absolute;top:50%;margin-top:-16px;outline:0;width:40px;height:40px;font-size:0;background:#008080;border-radius:50%;border:1px
solid  #008080;color:#fff;text-align:center}.por_detail_left .bx-has-controls-direction a:hover{border:1px
solid #008080;background:#fff;color:#008080}.por_detail_left .bx-wrapper .bx-next{right:10px}.por_detail_left .bx-wrapper .bx-next:before{content:"\f105";font-family:FontAwesome;color:inherit;text-indent:0;margin-right:-3px;font-size:26px;height:100%;line-height:38px}.por_detail_left .bx-wrapper .bx-prev{left:10px}.por_detail_left .bx-wrapper .bx-prev:before{content:"\f104";font-family:FontAwesome;margin-left:-5px;color:inherit;text-indent:0;font-size:26px;height:100%;line-height:38px}.por_detail_left .bxcarosuel_wrap .bx-wrapper .bx-next:after{color:#fff;content:"\f105";display:block;font-family:FontAwesome;font-size:50px;position:absolute;left:0;top:0;line-height:1}.por_detail_left .bxcarosuel_wrap .bx-wrapper .bx-prev:after{color:#fff;content:"\f104";display:block;font-family:FontAwesome;font-size:50px;position:absolute;left:0;top:0;line-height:1}.por_detail_left .bx-wrapper .bx-controls-direction a:hover:after{color:#8c9441}@media (max-width: 780px){.lextab
section{width:100%;margin-bottom:15px}.tab-content ul
li{width:49%;display:inline-block;vertical-align:top}}@media (max-width: 480px){.tab-content ul
li{width:99%;display:inline-block;vertical-align:top}}@media (max-width: 780px){.fr-fic{margin-left:auto !important;margin-right:auto !important;float:none !important;display:block !important;padding-bottom:15px}.g-recaptcha>div:first-child{margin:0
auto}}@media (max-width: 420px){.g-recaptcha{transform:scale(0.77);-webkit-transform:scale(0.77) !important;transform-origin:50% 50%;-webkit-transform-origin:50% 50% !important}}.g-recaptcha{display:inline-block}.on_scoll_fixed_placeholder{height:auto!important}@media (max-width: 330px){.g-recaptcha{transform:scale(0.6);-webkit-transform:scale(0.6) !important;transform-origin:27% 50%;-webkit-transform-origin:27% 50% !important}}.page_home #responsive_contact_button
aside{display:none}.page_request_information  #responsive_contact_button
aside{display:none}.page_seniors .Seniors1
ul{display:inline-block;float:none;vertical-align:top;width:30%}@media (max-width: 780px){.page_seniors .Seniors1
ul{display:block;width:100%;padding-bottom:0}.page_seniors
.Seniors1{margin-bottom:10px}}